@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,200&display=swap');

.CreateLeague-Container{
    display:flex;
    /* flex-direction: column; */
    /* padding-bottom: 10%; */
    /* justify-content: space-around; */
    /* gap: 1em; */
    /* height: 100%; */
    /* width: 100%; */
    background-color: black;
    /* margin: 0rem; */
    /* overflow: hidden; */
    /* background-color: #000000; */
    /* color: #000000; */

    width: 100%;
    height: 250vmin;
    object-fit: cover;
    object-position: 100% center;
    justify-content: center;
}
.CreateLeague-Header{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    width: 1348;
    height: 126;
    box-sizing: border-box;

    /* position: absolute;
    width: 1348px;
    height: 126px;
    left: 45px;
    top: 156px; */

    background: #DAE0F2;
    border: 1px solid #000000;
    border-radius: 23px;

    justify-content: center;

    display: flex;
    position: absolute;
    width: 689px;
    height: 75px;
    left: 30%;
    top: 150px;

    font-family: 'Imbue', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    /* color: #000000; */
    vertical-align: 50;
}

.CreateLeague-InputContainer{
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* padding: 10% 50% 15% 50%;
    align-items: center;
    border: black;
    background-color: #DAE0F2;
    border-radius: 10px;
    flex: 1;
    border-style: groove; */
    /* box-sizing: border-box; */

    /* position: absolute; */
    width: 35%;
    height: 25%;
    /* left: 102px;
    top: 315px; */

    /* background: #6B294D; */
    background: linear-gradient(315deg, #25b7c4, #4E76A1, #85B79D, #7E9C93);;
    /* border: 1px solid #000000; */
    border-radius: 18px;
    padding-top: 8em;
    padding-bottom: 6em;
    margin: 2%;
    vertical-align: 50;
    justify-content: space-between;
    align-items: center;  
}

.CreateLeague-NameForm{
    display:flex;
    /* border: gray; */
    /* background-color: #F9CFF2; */
    /* position: absolute;
    width: 459px;
    height: 50px;
    left: 520px;
    top: 365px; */

    background: #F9CFF2;
    border-radius: 5px;

    /* position: absolute; */
    width: 213px;
    height: 49px;
    /* left: 680px;
    top: 366px; */

    font-family: 'Imbue';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CreateLeague-PasswordForm{
    display: flex;
    
    /* position: absolute;
    width: 459px;
    height: 50px;
    left: 489px;
    top: 423px; */

    background: #F9CFF2;
    border-radius: 5px;

    /* position: absolute; */
    width: 213px;
    height: 49px;
    /* left: 680px;
    top: 423px; */

    font-family: 'Imbue';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CreateLeague-StandingsButton{
    display:flex;
    border: gray;
    border-radius: 50%;
    /* background-color: #A672A0; */

    /* position: absolute; */
    width: 300px;
    height: 300px;
    /* left: 600px;
    top: 500px; */
    
    color:#DAE0F2;
    font-size: clamp(2rem, 4vw, 4rem);
    font-family: "Rubik", sans-serif;

    background: #1a334d;
    border-width: 4px;
    /* align-self: center; */
    justify-content: center;
    align-items: center;
}

.CreateLeague-82Button{
    display:flex;
    border: gray;
    background-color: #767A9B;
}


.CreateLeague-LeagueCard{
  display: flex;
  /* gap: 4vmin; */
  /* justify-content: center; */
  /* align-items: center; */
  /* left: 150%; */
  /* top: 500%; */
  /* transform: translate(200%, 50%);  */
  /* user-select: none;  */
  background-color: #000000;
  color: #000000;

  width: 150vmin;
  height: 100vmin;
  object-fit: cover;
  object-position: 100% center;
}
  
#image-track {
  display: flex;
  /* gap: 4vmin; */
  /* justify-content: center; */
  /* align-items: center; */
  /* left: 150%; */
  /* top: 500%; */
  /* transform: translate(200%, 50%);  */
  /* user-select: none;  */
  /* -- Prevent image highlighting -- */
}
  
#image-track > .image {
  width: 80vmin;
  height: 100vmin;
  object-fit: cover;
  object-position: 100% center;
}
  
  /* -- YouTube Link Styles -- */
  
  body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #yt-link > i {
    color: rgb(239, 83, 80);
  }
  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
  }
  
  .meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  }