.LeaguePage-Container{
    height: 100vh;
    background-color: rgb(247, 247, 247);
    margin: 0rem;
    overflow: hidden;
    display: flex;
    column-gap: 0em;
  }
  
  /* .flex-item:nth-of-type(1) { flex-grow: 4; }
  .flex-item:nth-of-type(2) { flex-grow: 4; } */
  
  /* .flex-item {
    /* border: 0px solid rgba(0,0,0,.2); */
    /* line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }*/
  
  
  
  
  .LeaguePage-Submit-button {
      display: block;
      margin: auto;
  }
  
  .LeaguePage-Score-button {
    display: flex;
    margin: 20;
    padding-bottom: 2%;
    align-self: center;
    vertical-align: 50;
    justify-content: center;
  }
  
  .LeaguePage-Create-button {
    display: flex;
    /* margin: 20;
    padding-left: 10%;
    padding-bottom: 25px;
    align-self: center;
    vertical-align: 50;
    justify-content: left; */
  
    box-sizing: border-box;
  
    position: absolute;
    width: 487px;
    height: 131px;
    left: 30px;
    top: 214px;
  
    background: #52154E;
    border: 1px solid #000000;
    border-radius: 50px;
  }
  .LeaguePage-Join-button {
    display: flex;
    /* margin: 20;
    padding-left: 10%;
    padding-bottom: 25px;
    align-self: center;
    vertical-align: 50;
    justify-content: left;
    box-sizing: border-box; */
  
    position: absolute;
    width: 487px;
    height: 131px;
    left: 30px;
    top: 464px;
    
    background: #F9CFF2;
    border: 1px solid #000000;
    border-radius: 50px;
      
  }
  .LeaguePage-View-button {
    display: flex;
    margin: 20;
    padding-left: 10%;
    padding-bottom: 10px;
    align-self: center;
    vertical-align: 50;
    justify-content: left;
  
    box-sizing: border-box;
  
  }
  
  
  
  /* CSS */
  .button-joinleagues {
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    box-sizing: border-box;
  
    position: absolute;
    width: 487px;
    height: 131px;
    left: 30px;
    top: 464px;
  
    background: #F9CFF2;
    border: 1px solid #000000;
    border-radius: 50px;
  }
  
  .button-joinleagues:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  
  .button-joinleagues:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }
  
  @media (min-width: 768px) {
    .button-joinleagues {
      padding: 16px 48px;
    }
  }
  
  .button-createleague {
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    box-sizing: border-box;
  
    position: absolute;
    width: 487px;
    height: 131px;
    left: 30px;
    top: 214px;
  
    background: #52154E;
    border: 1px solid #000000;
    border-radius: 50px;
  }
  
  .button-createleague:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  
  .button-createleague:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }
  
  @media (min-width: 768px) {
    .button-createleague {
      padding: 16px 48px;
    }
  }
  
  
  .button-viewleagues {
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    box-sizing: border-box;
  
    position: absolute;
    width: 487px;
    height: 131px;
    left: 30px;
    top: 714px;
  
    background: #DAE0F2;
    border: 1px solid #000000;
    border-radius: 50px;
  }
  
  .button-viewleagues:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  
  .button-viewleagues:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }
  
  @media (min-width: 768px) {
    .button-viewleagues {
      padding: 16px 48px;
    }
  }
  
  
  .Disabled{
    pointer-events: none;
    cursor: not-allowed;
    /* opacity: 0.65; */
    /* filter: alpha(opacity=65); */
    /* -webkit-box-shadow: none; */
    /* box-shadow: none; */
  }
  
  
  /* CSS */
  /* .button-76 {
    background-color: #cf245f;
    background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
    border: 0;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem; /* 18px */
    /* font-weight: 600; */
    /* line-height: 1.75rem; 28px */
    /* padding: 1rem 1.25rem; */
    /* text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    box-sizing: border-box; */
  
    /* position: absolute;
    width: 487px;
    height: 131px;
    left: 30px;
    top: 214px;
  
    background: #52154E;
    border: 1px solid #000000;
    border-radius: 50px; */
  /* }  */
  
  /* .button-76:hover {
    box-shadow: none;
  } */
  
  /* @media (min-width: 1024px) {
    .button-76 {
      font-size: 1.5rem; /* 24px */
      /* padding: 1rem 1.5rem; */
      /* line-height: 2rem; 32px */
    /* } */
  /* } */ 
  
  
  
  
  
  
  /* CSS */
  .button-72 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(129, 85, 129, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: Quicksand,sans-serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 0;
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
  
    box-sizing: border-box;
  
    position: absolute;
    width: 487px;
    height: 131px;
    left: 30px;
    top: 714px;
  
    background: #DAE0F2;
    border: 1px solid #000000;
    border-radius: 50px;
  }
  
  .button-72:hover {
    background-image: linear-gradient(#F9CFF2, #d6b2d0 50%);
  }
  
  @media (min-width: 768px) {
    .button-72 {
      font-size: 21px;
      padding: 18px 34px;
    }
  }
  
  
  
  .LeaguePage-Navigator{
    height: 100vh;
    /* background-color: rgb(71, 35, 35); */
    background: linear-gradient(180deg, #25b7c4, #4E76A1, #85B79D, #7E9C93);
    margin: 0rem; 
    overflow: hidden;
    display: grid;
    place-items: center;
    width: 60%;
    /* z-index: 10; */
  }
  


.LeaguePage-Table{
    display: flex;  
    flex-direction: column;
    table-layout: fixed;
    /* border-collapse:separate; */
    border: 5px solid rgb(7, 7, 7);
    gap: 1em;

    background: linear-gradient(180deg, #25b7c4, #4E76A1, #85B79D, #7E9C93);

    /* position: absolute; */
    width: 60%;
    height: 78%;
    /* left: 300px;
    top: 300px; */
}
.LeaguePage-Table-Header:nth-child(1) {
    width: 5%;
    text-align: right;
  }
  
.LeaguePage-Table-Header:nth-child(2) {
    width: 25%;
}

.LeaguePage-Table-Header:nth-child(3) {
    width: 30%;
    transform: translateX(40px);
    text-align: center;
}



.LeaguePage-Row{
    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(7, 7, 7);
    margin: 0 2em 0 0;

    background: linear-gradient(90deg, #6B294D,#986d85);
    border-radius: 2px;
    justify-content: space-around;
    align-items: center;

    font-size: clamp(2rem, 2vw, 2rem);
    /* font-family: "Rubik", sans-serif; */
    /* color: #000000; */
    text-decoration: none;

    color: rgb(237, 230, 230);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    -webkit-text-stroke-width: thin;
    /* font-size: clamp(2rem, 6vw, 6rem); */
    font-family: "Rubik", sans-serif;
}

.LeaguePage-Row-Index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
}
.LeaguePage-Row-Username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
}

.LeaguePage-Row-LeagueName{
    display: flex;
    flex-direction: column;
    color: #000000;
    text-decoration: none;
    /* justify-content: center;
    align-items: center; */
    font-size: clamp(2rem, 4vw, 4rem);
    font-family: "Rubik", sans-serif;
    text-align: center;
}

.LeaguePage-Table-Header{
    text-align: right;
    
}