.flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBar-container {
    padding: var(--s) var(--m);
    background-color: #1E50AE;
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .NavBar-title {
    /* color: var(--white); */
    color: #ffffff;
    /* -webkit-text-stroke: 0.01em #061229;   */
    /* font-size: clamp(2rem, 6vw, 6rem); */
    font-family: "Rubik", sans-serif;
    font-size: clamp(2rem, 2vw, 3rem);
  }

  .NavBar-title-pipe {
    color: #fbfbfb;
    font-size: 2.2rem;
    font-family: "Rubik", sans-serif;
  }
  
  .NavBar-title-red {
    color: rgb(152, 17, 17);
    font-weight: bold;
    font-size: clamp(2rem, 2vw, 3rem);
    font-family: "Rubik", sans-serif;
  }
  
  .NavBar-linkContainer {
    margin-left: var(--l);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: flex-end;
  }

  .push-right{
    margin-left: auto;
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--white);
    opacity: 0.6;
    text-decoration: none;
    font-size: clamp(1.5rem, 1.5vw, 1.5rem);
    font-family: "Rubik", sans-serif;
  }

  .NavBar-link-right,
  .NavBar-link-right:visited {
    /* display: flex; */
    /* justify-content: end; */
    color: var(--white);
    opacity: 0.6;
    text-decoration: none;
    /* margin-left: auto; */
    font-size: clamp(2rem, 2vw, 2rem);
    font-family: "Rubik", sans-serif;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }

  .NavBar-link-right:hover {
    opacity: 0.8;
  }
  
  .NavBar-link-right.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link-right + .NavBar-link-right {
    margin-left: var(--m);
  }
  