.Standing-Table{
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1.5px solid rgb(255, 255, 255);
    gap: 1em
}

.Standing-moveable-tbody-tr{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    flex: 1;
}

.Standing-moveable-teamSeed{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* .Standing-moveable-teamLogo{ */
    /* flex-grow: 2; */
/* } */

/* .Standing-moveable-teamName{
    flex-grow: 2;
} */

.Standing-tbody-tr{
    background-color: rgb(145, 189, 174);
}

.TeamCard-name{
    font-family: Arial, Helvetica, sans-serif;
}

.SingleMessage-container {
    margin: 0 0 var(--xs);
    max-width: 100%;
}
  
.SingleMessage-sender {
width: 106px;
margin-right: var(--xs);
flex-shrink: 0;
}

.SingleMessage-content {
padding: var(--s) var(--m);
background: var(--medgrey);
border-radius: var(--l);
flex-shrink: 1;
overflow-wrap: break-word;
overflow-wrap: anywhere;
}

.SingleMessage-mine .SingleMessage-content {
background: var(--primary--dim);
color: var(--white);
}



